.container{padding: 20px;}
.reservebackground{background-image: url("bballnet.jpg");
 background-size:cover;
background-position:center;
opacity:0.5;}
.container mt-5{
 background-image: url("bballplayer.jpg");
 background-size:cover;
background-position:center;
opacity:0.5;
}
